

<h1 appMydirective1> Custom directive </h1>

<p appMydirective1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo minus, culpa facilis saepe iure aspernatur quasi tenetur suscipit alias. Voluptate doloremque voluptatibus ut commodi autem velit labore beatae tempore praesentium!</p>


<div appDynamicdirective>

  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non tempore dicta quibusdam error, ex ab atque sapiente laboriosam aperiam natus placeat! Laudantium nesciunt adipisci corporis sed ad veniam neque cum.


</div>
